style.
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
  * {
    font-family: "Poppins", sans-serif !important;
  }
  body {
    font-family: sans-serif;
     -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
      -webkit-font-smoothing: antialiased;
  }
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .box {
    width: 500px;
    height: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
  }
  .box .title {
    text-align: center;
  }
  .body_verify h3 {
    text-align: center;
  }
  .btn {
    text-align: center;
  }
  .btn a {
    text-decoration: none;
    padding: 8px 10px;
    color: white;
    background-color: #0ec2d3;
    font-weight: bold;
    border-radius: 4px;
  }
