extends baseEmail 

block content 
   .container
      .box
        h1.title
          | PolyTech
        .body_verify
          h3 Your email has been verified by PolyTech
          p(style='text-align: center;')
            | Please clicking the button
          p(style='text-align: center;')
            | below and login later at 
            a(href='http://polytech.vanvietsoft.com') PolyTech
          .btn
            a(href=`${url}`, target='_blank')
              | Go to PolyTech