extends baseEmail 

block content 
   .container
      .box
        h1.title
          | PolyTech
        .body_verify
          h3 Thank For Signing Up As An PolyTech Member
          p(style='text-align: center;')
            | Please verify your email by clicking the button
          p(style='text-align: center;')
            | below and login later at 
            a(href='http://polytech.vanvietsoft.com') PoLyTech
          .btn
            a(href=`${url}`, target='_blank')
              | Verify Email