extends baseEmail 

block content 
   .container
      .box
        h1.title
          | Think Pro
        .body_verify
          h3 Thank For An Think Pro Member
          p(style='text-align: center;')
            | Below is your otp code
          p(style='text-align: center;')
            | Please do not share with anyone #{otp}
          